<style>
@font-face {
    font-family:"Marvel";
    src: url("/Marvel-regular.ttf") /* TTF file for CSS3 browsers */
}
.running { background-color:#006000;color:#ffffff;padding-top:15px;}
li:nth-child(odd){
  background-color: #ccc;
}
li:nth-child(even){
  background-color: #fff;
}
.toppad { padding-bottom:20px;}
li { font-size:2em;padding:5px;}
.listwidth {width:500px;}
.even {background-color:#fff;}
.odd {background-color:#ccc;}
.listitem {position:relative;float:right;margin-left:100px; }
.mainbox { background-color:#eee;width:600px;padding:20px;}
.bigger { font-size:1.1em; }
.evenbigger { font-size:1.3em;font-weight:bold;background-color:yellow;}
.padit { padding-left:10px;padding-right:10px;padding-bottom:2px; }
.marvel { font-family:Marvel;}
.cleanlinks { text-decoration:none; }
.authenticated { text-align:right;float:right;font-size:1.5em;}
.centerit { width:100%;text-align:center;}
.execlink { color:#006000;}
*, *:before, *:after {
  box-sizing: border-box;
}
input[type=text] {
  // input elements with type="text" attribute
}
input[type=password] {
  // input elements with type="password" attribute
}
.theform { width:100%;text-align:center;}
.formelements {
 width:200px;
  padding:20px;
}
.formelementsbutton {
 width:80px;
  padding-top:20px;
  padding-bottom:20px;
}
.listitembutton {font-size:.7em;}
  </style>
